<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.spring2.repository.CommentDao">

    <!-- 특정 포스트에 달려 있는 모든 댓글 검색(아이디 내림차순). -->
    <select id="selectByPostId" resultType="Comment">
        select * from COMMENTS
        where POSTID = #{postid}
        order by ID desc
    </select>

</mapper>
