<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- POSTS 테이블에서 CRUD에 필요한 SQL 문장들을 선언 -->
<mapper namespace="com.itwill.spring2.repository.PostDao">

    <!-- POSTS 테이블 전체 검색, 아이디 내림차순 정렬 -->
    <select id="selectOrderByIdDesc" resultType="Post">
        select * from POSTS order by ID desc
    </select>

</mapper>
